{% extends "./../principal/base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %} {% block title_page %} Lista (Futuro Filtro) {% endblock %} {% endblock %}

{% block descricao %} "Apresentação visual das informações mais importantes" {% endblock %}

{% block body%}

<table class="table table-striped table-hover" id="tabela">
    <thead>
        <tr>
            <th>Tipo</th>
            <th>Numero</th>
            <th>Estado</th>
            <th>Raca</th>
            <th>Evolução</th>
            <th>Sexo</th>
            <th>Pai</th>
            <th>Mãe</th>
            <th>Peso nasc</th>
            <th>Peso desm</th>
            <th>Propriedade</th>
        </tr>            
    </thead>
    <tbody>
    	{% for field in animais_enum %}
    		<tr>
	            <td>{{field.tipo}}</td>
	            <td>{{field.numero}}</td>
	            <td>{{field.estado}}</td>
	            <td>{{field.raca}}</td>
	            <td>{{field.evolucao}}</td>
	            <td>{{field.sexo}}</td>
	            <td>{{field.pai}}</td>
	            <td>{{field.mae}}</td>
	            <td>{{field.peso_nasc}}</td>
	            <td>{{field.peso_desm}}</td>
	            <td>{{field.propriedade}}</td>
      		</tr>
    	{% endfor %}
        
    </tbody>
</table>


{% endblock %}