{% extends "./../principal/base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %} {% block title_page %} Lista Atividades {% endblock %} {% endblock %}

{% block descricao %} "Apresentação visual das informações mais importantes" {% endblock %}

{% block body%}

<table class="table table-striped table-hover" id="tabela">
    <thead>
        <tr>
            <th>Atividade</th>
            <th>Data</th>

        </tr>            
    </thead>
    <tbody>
    	{% for field in list_atividade %}
    		<tr>
	            <td>{{field.atividade}}</td>
	            <td>{{field.data}}</td>

      		</tr>
    	{% endfor %}
        
    </tbody>
</table>


{% endblock %}
