{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>{% block title %} {% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/navbar.css' %}" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <link href="{% static 'css/rodape.css' %}" rel="stylesheet">

    <!-- Meu CSS -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">

    <!-- Icone -->
    <link href="{% static 'img/favico.png' %}" rel="shortcut icon" type="image/png">
</head>

<body>

    {% include "./navbar.html" %}

    <div id="conteudo" class="container">
        <div class="row">
            <div class="col-md-12 titulo">
                <h1 title={% block descricao %} {% endblock %}>{% block title_page %} {% endblock %}</h1>
            </div>

            {% block body %} {% endblock %}
        </div>
            
    </div>
    {% include "./rodape.html" %}


    <script src="{% static 'bootstrap/js/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/js-bootstrap/bootstrap.min.js' %}"></script>

</body>

</html>