{% extends "./base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %} {% block title_page %} Cadastrar {% endblock %} {% endblock %}

{% block descricao %} "Cadastro do animais" {% endblock %}

{% block body %}
	<script src="{% static 'js/cadastro.js' %}"></script>

	<form method="POST" id="form">
		<div class="form-group col-md-4">
			<label class="control-label" for="id_tipo_cadastro">Tipo cadastro</label>
			<div id="id_tipo_cadastro">
				<label for="id_tipo_cadastro_0" class="radio-inline">
					<input id="id_tipo_cadastro_0" name="tipo_cadastro" onClick="location.href='{% url 'enumerado' %}'" type="radio" value="Enumerado" checked><span> Enumerado</span>
				</label>			
				<label for="id_tipo_cadastro_1" class="radio-inline">
					<input id="id_tipo_cadastro_1" name="tipo_cadastro" onClick="location.href='{% url 'coletivo' %}'" type="radio" value="Coletivo" ><span> Coletivo</span>
				</label>
			</div>
		</div>
    <form>

    <div style="" id="enumerado">
	    <form method="POST" id="form_enum">
	    	{% csrf_token %}
	    	{% for field in form_enum %}
	    		<div class="col-lg-4 col-md-4">
	    			{% bootstrap_field field %}
	    		</div>
	    	{% endfor %}


			<div class="btn-grup btn-grup-lg col-lg-12 col-md-12"><br>
		        <button class="btn btn-danger " type="reset">Reset</button>
		        <button class="btn btn-success" type="button" onClick="location.href='{% url 'list_animal_enum' %}'">Listar</button>
		        <button class="btn btn-primary" type="submit">Concluir</button>
			</div>
	    <form>
	</div>


{% endblock %}
