<nav class="navbar navbar-default navbar-fixed-top zoo-navbar" role="navigation" style="margin: 0">
    <div class="navbar-header">
        <!-- collapse -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!-- logo -->
        <a class="navbar-brand zoo-brand-a" href={% url 'index' %}><img class="zoo-brand-img" src="../../static/img/logo.jpg"></a>
    </div>

    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right" style="margin-right: 5px;">
            <li>
                <a style="padding: 21px 3px;" href={% url "dashboard" %} data-toggle="tooltip" title="Dashboard"><img class="zoo-img" src="../../static/img/dashboard.png"> Dashboard </a>
            </li>
            <li class="dropdown">
                <a style="padding: 21px 3px;" href="#" class="dropdown-toggle" data-toggle="dropdown" data-toggle="tooltip" title="Cadastro"><img class="zoo-img" src="../../static/img/cadastro.png"> Cadastro <span class="fa arrow"></span><strong class="caret"></strong></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href={% url "enumerado" %}><img class="zoo-img" src="../../static/img/animais.png"> Animais</a>
                    </li>
                    <li>
                        <a href={% url "perdas" %}><img class="zoo-img" src="../../static/img/perda.png"> Perda</a>
                    </li>
                    <li>
                        <a href={% url "ocorrencia" %}><img class="zoo-img" src="../../static/img/ocorrencia.png"> Ocorrência</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a style="padding: 21px 3px;" href="#" class="dropdown-toggle" data-toggle="dropdown" data-toggle="tooltip" title="Matriz"><img class="zoo-img" src="../../static/img/matriz.png"> Matriz <span class="fa arrow"></span><strong class="caret"></strong></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href={% url "cobertura" %}><img class="zoo-img" src="../../static/img/cobertura.png"> Cobertura</a>
                    </li>  
                    <li>
                        <a href={% url "parto" %}><img class="zoo-img" src="../../static/img/parto.png"> Parto</a>
                    </li>                             
                    <li>
                        <a href={% url "leite" %} data-toggle="tooltip" title="Leite"><img class="zoo-img" src="../../static/img/leite.png"> Leite</a>
                    </li>
                </ul>
            </li>

            <li>
                <a style="padding: 21px 3px;" href={% url "venda" %} data-toggle="tooltip" title="Vendas"><img class="zoo-img" src="../../static/img/vendas.png"> venda </a>
            </li>
            <li>
                <a style="padding: 21px 2px;" href={% url "atividade" %} data-toggle="tooltip" title="Atividades"><img class="zoo-img" src="../../static/img/atividade.png"> atividade </a>
            </li>
            <li>
                <a style="padding: 21px 3px;" href={% url "propriedade" %} data-toggle="tooltip" title="Propriedade"><img class="zoo-img" src="../../static/img/propriedades.png"> propriedade </a>
            </li>

        </ul>
    </div>
</nav>