<div class="container-fluid footer" id=rodape>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-4">
				<p>
					<img src="../../static/img/logo2.png" style="max-height: 100px"><br><br>
					Projeto de zootecnia
				</p>
			</div>
			<div class="col-sm-12 col-md-4">
				<p>
					<a href="https://www.facebook.com/profile.php?id=100004463820704&fref=ts">Daniel Rodrigues Coura</a><br>
					<a href="https://www.facebook.com/franklyn.ayran">Franklyn Ayran Alves Monteiro</a><br>

				</p>
			</div>
			<div class="col-sm-12 col-md-4">
				<a href="www.ifpb.edu.br">IFPB</a><br>
				<a href="#">Facebook</a><br>
				<a href="#">Instagran</a><br>
				<a href="#">Blog</a><br>
				<a href="#">Link</a>
			</div>
		</div>
	</div>
</div>